/*
border:2px solid/dashed/dotted/double/groove(вдавленная объемная линия)/ridge(выпуклая объемная линия)/inset(блок вдавленный) red - обводка
height: - высота блока 
width: - ширина
background-color: - цвет блока 
margin: - отступ от сторон
padding: внутренние отступы в блоке 
border-radius: 50px; - радиус закругление блока
*/

#testBlock {
    border: 2px solid chartreuse;
    height: 200px;
    width: 500px;
    background-color: black ;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
} 

/*  Позициронивание блоков: 
border: 1px solid silver;
box-sizing: border-box; //один пиксель входит в ту же ширину

float: none/left/right - нужно задавать каждому елементу

clear:right/both/left - запрещает ставить блоки справа либо слева

position:absolute/fixed/relative/static
    static - статический блок (по умолчанию)
    relative - относительное позиционирование от места где стоял блок
    absolute - позиционируется от всего документа
    fixed - относительно области просмотра будет позиционируется

top:/right:/left:/buttom: - отступы с разных сторон
    
*/
p {
    color: black;
    background-color: blanchedalmond;

}
*{
    font-size: 1.1em;
    text-decoration: none;
    background-color: cornflowerblue;
}

header {
    width: calc(100% - 20px);
    height: 30px;
    background-color: white;
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;
    padding: 10px;
    font-size: 1.2em;
    color: #333333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}
article, aside {
    background-color: #fafafa;
    height: 65  0px;
    border-radius: 10px;
    border: 1px solid silver;
    box-sizing: border-box;
    margin-top: 20px;
    float: left;
}
article {
    float: left;
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}
/* .clear {
    clear: both;
} */
aside {
    padding: 1%;
    width: 45%;
}
footer {
    width: calc(100% - 20px);
    height: 50px;
    margin-top:20px;
    background-color: white;
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;
    padding: 10px;
    font-size: 1.2em;
    color: #333333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:left;
}
/*  Свойство блоков:

*/