*{
    text-decoration: none;
}
html {
    /* background-color: cornflowerblue; */
}
header {
    font-size: 3em;
    text-align: center;
    width: calc(100% - 60px);
    height: 70px;
    background-color: rgb(253, 253, 253);
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 25px;
    float:left;
    padding: 1%;
}
#div1, #div2 {
    margin-left: 50px;
    margin-bottom: 25px;
    width: 45%;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    float: left;
    padding: 1%;
    font-size: 1.3em;
    
}
aside ul {
    width: 80%;
    margin-left: 10%;
    list-style-position: outside;
    list-style-type: disc;
    list-style-image: url(https://i.citrus.ua/imgcache/size_500/uploads/shop/8/4/84752e20fe69f6258fb161c3095333a7.jpg);
}
/*
    list-style-position: outside;
        inside в блоке 
    list-style-type: disc; стиили дисков

    display: block; - Из любомого елемента получается блок
        inlane - в одну строку
        none - ничего не отображатся
        list-item - любой елемент будет частью списка

    visibility:hidden - текст будет скрыт, но под него освободится пространство

    overflow: visible - текст, который вылазит он показывается
        hidden - если текст вылазит, то он не показывается
        scroll - колесо прокрутки появится
        auto - колесо прокрутки, которые необходимы

    min/max width -допустимые значения длины

    ul


    Слои ксс для меню:
       z-index: -10; - слои, который не видно
*/
menu {
    position: relative;
    z-index: -1;
}
.spanBlock {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    overflow: visible;
    font-size: 1.3em;
}
footer {
    width: calc(100% - 60px);   
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 5px; 
    margin-top: 10px;
    float: left;
    padding: 1%;
}
